<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/" style="margin-left: 18px;">
    Patitas
  </a>
  <div>
    <button 
    type="button" 
    class="btn btn-primary" 
    data-bs-toggle="modal" 
    data-bs-target="#staticBackdrop"
    (click)="openForEdit(selectedMascota)"
    >
      Agregar Mascota
    </button>
    <a href="#" style="margin-right: 18px;">
      <button type="button" class="btn btn-primary">Salir</button>
    </a>
  </div>
  
</nav>

<div class="card-container-posts list-group mt-4">

  <div class="layout-cards-disposition">
    <li
      *ngFor="let mascota of mascotaArray" 
      class="card list-group-item list-group-item-action" 
      style="margin: 2%; width: auto;" 
      (click)="openForEdit(mascota)"
      [class.active]="mascota == selectedMascota"
    >
        <!-- <img src="{{mascota.img}}" alt="./assets/perro.png" class="card-img-top" style="width: 10%;"> -->
        <div class="avatar" style="background-image: url( {{mascota.img}} )"></div>
        <div class="card-body">
          <span class="badge bg-primary">
            {{mascota.id}}
          </span>
          <h3 class="card-text">
              <strong>{{mascota.name}}</strong> - {{mascota.raza}}
          </h3>
          <p> {{mascota.description}} </p>
          <div class="botones-de-cards-mascotas" >
            <!-- Button trigger modal -->

            <button 
            *ngIf="mascota == selectedMascota"
            type="button" 
            class="btn btn-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#staticBackdrop"
            >
              Edit
            </button>

            <button 
            *ngIf="selectedMascota.id !== 0 && mascota == selectedMascota"
            class="btn btn-danger"
            (click)="delete()"
            >
              Delete
            </button>
          </div>
        </div>
    </li>
  </div>

  <!-- Modal de Edicion de Mascota -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><strong>Editar a {{selectedMascota.name}}</strong></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card mt-4">
            <div class="card-body">
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedMascota.name" placeholder="Nombre" class="form-control mt-4" >
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedMascota.raza" placeholder="Raza" class="form-control mt-4" >
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedMascota.description" placeholder="Descripcion" class="form-control mt-4" >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button 
            *ngIf="selectedMascota.id !== 0"
            class="btn btn-danger"
            (click)="delete()"
          >
            Delete
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="addOrEdit()" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

</div>